@import "base/mixins";
html,body{
  background: #fff;
}
.g-page{
  width:100%;
  background: url("./img/joinus_16.png") no-repeat bottom center;
}
.g-banner{
  width:100%;
  height:500px;
  background: url("./img/campus-banner-bg.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.g-wrap{
  @include clearfix;
  width:1200px;
  height:auto;
  margin: 0 auto;
  padding-top: 50px;
  .g-wrap__nav{
    float:left;
    width:200px;
    h1{
      background: url("./img/campus-01.png") no-repeat;
      height:50px;
      padding-left:65px;
      padding-top:20px;
      font-size: 22px;
      letter-spacing: 3px;
    }
    li{
      width:200px;
      padding:22px;
      font-size: 20px;
      text-align: center;
      border-bottom:1px solid #cccccc;
      letter-spacing: 3px;
      &:first-child{
        background: url("./img/joinus_07.png") no-repeat;
      }
      &.current a{
        color:#6bd9f2;
      }
    }
  }
  .g-wrap__bd{
    float:left;
    width:1000px;
    padding-top:15px;
    padding-left:45px;
    .g-item__title{
      width:100%;
      height:36px;
      line-height: 36px;
      border-bottom:1px solid #ccc;
      padding-left:35px;
      padding-right:20px;
      h2{
        float:left;
        width:50%;
        font-size: 20px;
        letter-spacing: 5px;
        font-weight: 600;
      }
      .g-item__direction{
        float:right;
        width:230px;
        height:100%;
        color:#cccccc;
        padding-left:35px;
        background: url("./img/joinus_08.png") no-repeat center left;
        a{
          font-size: 14px;
          color:#cccccc;
          &:hover{
            color:#6bd9f2;
          }
        }
      }
    }
    .g-item__section{
      @include clearfix;
      padding-top: 50px;
      width:100%;
      .g-post__wrap{
        width:100%;
        height:100%;
        .g-post__title{
          font-size: 20px;
          color:#333;
        }
        .g-post__prop{
          @include clearfix;
          font-size: 12px;
          color:#c6c6c6;
          padding: 30px 0px;
          .g-post__time{
            @include clearfix;
            float:left;
            width:50%;
            .g-post__view{
              float: right;
              display: block;
              width:50%;
              background: url("./img/icon-see.png");
              background-repeat: no-repeat;
              background-size: contain;
              background-position: left center;
              padding-left: 20px;
            }
          }
          .g-post__share{
            float:right;
            width:15%;
          }

        }
        .g-post__body{
          p{
            line-height: 25px;
            text-indent: 2em;
            text-align: justify;
          }
          img{
            margin: 0 auto 30px;
            width:100%;
            height:auto;
          }
        }
        .g-post__page{
          @include clearfix;
          width:130px;
          height:20px;
          margin: 60px auto;
          li{
            border:1px solid #6bd9f2;
            float:left;
            padding:2px 8px;
            font-size: 12px;
            &.g-post__prev{
              margin-right: 20px;
            }
            &:hover{
              background: #6bd9f2;
              a{
                color:#fff;
              }
            }
          }
        }
      }
    }

  }
}
.w-bottomBar{
  margin-top: 0px!important;
}

.icon-qq,.icon-weibo,.icon-weixin{
  float:left;
  display: block;
  width:24px;
  height:24px;
  margin-right: 10px;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}
.icon-qq{
  background-image:url("./img/icon-normal-qq.png");
  &:hover{
    background-image: url("./img/icon-qq.png");
  }
}
.icon-weixin{
  background-image:url("./img/icon-normal-weixin.png");
  &:hover{
    background-image: url("./img/icon-weixin.png");
  }
}
.icon-weibo{
  background-image:url("./img/icon-normal-weibo.png");
  &:hover{
    background-image: url("./img/icon-weibo.png");
  }
}



