@import "base/mixins";

html, body {
  background: #fff;
}

.g-page {
  width: 100%;
}

.g-headline {
  width: 100%;
  height: 80px;
  line-height: 80px;
  background: #f1f1f1;
  h1 {
    width: 1200px;
    margin: 0 auto;
    font-size: 16px;
    font-weight: bold;
    text-indent: 1em;
  }
}

.g-wrap {
  width: 1200px;
  padding-top: 30px;
  margin: 0 auto;
  .g-wrap__progress {
    @include clearfix;
    position: relative;
    margin: 0 auto;
    width: 800px;
    height: 90px;
    .g-progress__line {
      position: absolute;
      top: 23px;
      left: 25px;
      z-index: 0;
      width: 750px;
      height: 0px;
      border-top: 2px solid #ccc;
    }
    .g-progress__step {
      position: absolute;
      top: 0px;
      left: 0px;
      width: 80px;
      height: 100%;
      text-align: center;
      &:nth-child(2) {
        top: 0px;
        left: 0px;
      }
      &:nth-child(3) {
        top: 0px;
        left: 360px;
      }
      &:nth-child(4) {
        top: 0px;
        left: 720px;
      }
      &.current {
        .g-step__round {
          background: #6bd9f2;
          color: #fff;
        }
        span{
          color:#6bd9f2;
        }
      }
      .g-step__round {
        display: block;
        width: 46px;
        height: 46px;
        margin: 0 auto;
        background: #cccccc;
        font-style: normal;
        font-size: 18px;
        color: #555;
        text-align: center;
        line-height: 46px;
        border-radius: 46px;
        z-index: 1;
      }
      span {
        display: block;
        padding-top: 20px;
      }
    }
  }
  h2 {
    padding: 5px;
    width: 110px;
    color: #6bd9f2;
    font-size: 16px;
    text-align: center;
    border-bottom: 3px solid #6bd9f2;
  }
  .g-wrap__checklist {
    width: 100%;
    border: 1px solid #ccc;
    td {
      padding: 20px 10px;
      text-align: center;
      &:nth-child(1) {
        text-align: left;
      }
    }
    .g-checklist__head {
      background: #f1f1f1;
      td {
        &:nth-child(1) {
          width: 80px;
        }
        &:nth-child(2) {
          width: 360px;
        }
        &:nth-child(3) {
          width: 160px;
        }
      }
    }
    .g-checklist__del {
      color: #ff6f18;
    }
    .g-checklist__item {
      border-bottom: 1px solid #ccc;
    }
    .g-checklist__sumCount, .g-checklist__total {
      color: #ff6f18;
    }
    .g-checklist__pay {
      position: absolute;
      top: 0px;
      right: 0px;
      width: 160px;
      height: 62px;
      color: #fff;
      background: #6bd9f2;
      border: none;
    }
    .g-checklist__super {
      position: absolute;
      top: 0px;
      right: 160px;
      width: 300px;
      height: 62px;
      border: none;
      padding-top: 10px;
      p {
        text-align: right;
        padding-right: 20px;
      }
    }
  }
}

.u-input__count {
  width: 50px;
  text-align: center;
}

.u-input__count__min, .u-input__count__max {
  width: 30px;
  text-align: center;
}

.modal-header {
  background: #eeeeee;
}

.modal-dialog {
  overflow: hidden !important;
}

.modal-body__table {
  td {
    padding-left: 10px;
    padding-bottom: 10px;
    span {
      color: red;
    }
    select {
      font-size: 14px;
      margin-right: 10px;
      option {
        height: 30px;
      }
    }
    textarea {
      resize: none;
      margin-left: 60px;
      width: 300px;
    }
    p {
      color: red;
      padding-left: 10px;
    }
  }
}

.makesure {
  background: #6bd9f2;
  color: #fff;
  border: 1px solid #6bd9f2;
}

.u-input__count__min, .u-input__count__max {
  background: #f1f1f1;
  border: none;
  height: 25px;
  line-height: 24px;
  border: 1px solid #ccc;
}

.orange {
  color: #ff6f18;
}
