@import "base/mixins";

html, body {
  background: #fff;
}

.g-page {
  width: 100%;
}

.g-headline {
  width: 100%;
  height: 80px;
  line-height: 80px;
  background: #f1f1f1;
  h1 {
    width: 1200px;
    margin: 0 auto;
    font-size: 16px;
    font-weight: bold;
    text-indent: 1em;
  }
}

.g-wrap {
  width: 1200px;
  padding-top: 30px;
  margin: 0 auto;
  .g-wrap__progress {
    @include clearfix;
    position: relative;
    margin: 0 auto;
    width: 800px;
    height: 90px;
    .g-progress__line {
      position: absolute;
      top: 23px;
      left: 25px;
      z-index: 0;
      width: 750px;
      height: 0px;
      border-top: 2px solid #6bd9f2;
    }
    .g-progress__step {
      position: absolute;
      top: 0px;
      left: 0px;
      width: 80px;
      height: 100%;
      text-align: center;
      z-index: 2;
      &:nth-child(3) {
        top: 0px;
        left: 0px;
      }
      &:nth-child(4) {
        top: 0px;
        left: 360px;
      }
      &:nth-child(5) {
        top: 0px;
        left: 720px;
      }
      &.current {
        .g-step__round {
          background: #6bd9f2;
          color: #fff;
        }
        span {
          color: #6bd9f2;
        }
      }
      .g-step__round {
        display: block;
        width: 46px;
        height: 46px;
        margin: 0 auto;
        background: #cccccc;
        font-style: normal;
        font-size: 18px;
        color: #555;
        text-align: center;
        line-height: 46px;
        border-radius: 46px;
        z-index: 1;
      }
      span {
        display: block;
        padding-top: 20px;
      }
    }
  }
  .g-wrap__info{
    @include clearfix;
    width:800px;
    height:400px;
    margin: 0 auto;
    padding:80px 10px;
    .g-info__fruit,.g-info__order{
      float:left;
      width:50%;
      height:100%;
    }
    .g-info__fruit{
      .g-fruit__success{
        width:275px;
        height:103px;
        line-height: 103px;
        font-size: 20px;
        background-image: url("./img/pay_success.png");
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
        color:transparent;
      }
      p{
        margin-top: 10px;
        width:264px;
        line-height: 25px;
        text-align: justify;
      }
    }
    .g-info__order{
      td{
        vertical-align: top;
        padding-bottom:5px;
      }
      p{
        font-size: 18px;
        width:100%;
        word-break: break-all;
        line-height: 30px;
      }
      span{
        color:#ff6f18;
      }
      .dismiss{
        margin-top: 20px;
        float:right;
        display: block;
        width:110px;
        height:30px;
        line-height: 30px;
        text-align: center;
        border-radius: 4px;
        border: 1px solid #6bd9f2;
        background: #fff;
        color:#6bd9f2;
        &:hover{
          background: #6bd9f2;
          color:#fff;
        }
      }
    }
  }

}

